.column{

}



.buttonLesson {

  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-color: #4cae4c;
  border-radius: 4px;



}


.scrollAvisosButton{
     background-color: #79BD9A;
     color: white;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     text-align: left;
     border: none;
     outline: none;
     transition: 0.4s;
     border-color: #79BD9A;
     border-radius: 4px;
     content:'\02795';

}

button.scrollAvisosButton:after{

content: '\02795';
float:right;


}
button.scrollAvisosButton.active:after{

 content: "\2796";

}


.scrollAvisosButton:hover{

        color:#C7F464;

}

.avisoBox:hover{

    border-color:#A7DBD8


}
